body {
  background-color: rgba(0, 0, 45, 0.85);
  font-family: Tahoma;
  color: #f5f6f7;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input[type="checkbox"] {
  display: inline-block;
  width: 30px;
  border-radius: 5px;
  margin-right: 0.625rem;
  min-height: 0.25rem;
  min-width: 1.25rem;
}

input[type="radio"] {
  display: inline-block;
  width: 30px;
  border-radius: 5px;
  margin-right: 0.625rem;
  min-height: 0.25rem;
  min-width: 2.25rem;
}

label[for="check"] {
  padding-left: 10px;
  padding-bottom: 10px;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgb(176, 100, 150);
  border-color: white;
  min-width: 300px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}